<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-shopping-cart-full"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Orders</p>
                                375
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-calendar"></i> Total
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-credit-card"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Costs</p>$56
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-time"></i> Last month
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-tablet"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Products</p> 1076
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-package"></i> Total
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-world"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Units</p> 78
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-location-pin"></i> Current units
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Users Behavior</h4>
                    <p class="category">24 Hours performance</p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Click
                            <i class="fa fa-circle text-warning"></i> Click Second Time
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-reload"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">2017 Category Statistics</h4>
                    <p class="category">Products by Category</p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Papers
                            <i class="fa fa-circle text-danger"></i> Toners and Printers
                            <i class="fa fa-circle text-warning"></i> Small products
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-timer"></i> Products by category for last year
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">2017 Orders</h4>
                    <p class="category">All Orderd Products by Month</p>
                </div>
                <div class="content">
                    <div class="row" style="height:336px">
                        <div class="col-lg-10">
                            <div id="chartActivity" class="ct-chart"></div>
                        </div>
                        <div class="col-lg-2">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> TM Varna<br />
                                <i class="fa fa-circle text-warning"></i> TP Varna<br />
                                <i class="fa fa-circle text-danger"></i> TP Dobric<br />
                                <i class="fa fa-circle text-success"></i> Ikea Varna<br />
                                <i class="fa fa-circle text-warning"></i> Baumax<br />
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <!--<div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Tesla Model S
                            <i class="fa fa-circle text-warning"></i> BMW 5 Series
                        </div>-->
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> Orders summary for last year
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Pavlin Stefanov</h1>
    <h2>Application says what?</h2>
    
    <h2>Java Car List</h2>
    <div *ngFor="let car of cars">
        {{car.id}} : {{car.name}}
    </div>

    <h2>C# Value List</h2>
    <div *ngFor="let value of values">
        {{value}}
    </div>
</div>

