
<div class="card">
    <div class="header">
        <h5 class="notification"><i class="ti-bell"></i> 5 Notifications</h5>
    </div>
    <div class="content" style="height:260px;width:790px;overflow:auto;overflow-x: hidden;">
        <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span data-notify="icon" class="ti-shopping-cart-full"></span>
            <span data-notify="message">This is a plain notification</span>
        </div>
        <div class="alert alert-warning" data-notify="container">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span data-notify="icon" class="ti-shopping-cart-full"></span>
            <span data-notify="message">This is a notification with close button.</span>
        </div>
        <div class="alert alert-success" data-notify="container">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span data-notify="icon" class="ti-bell"></span>
            <span data-notify="message">This is a notification with close button and icon. So you don't have to worry about the style.</span>
        </div>
        <div class="alert alert-danger" data-notify="container">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span data-notify="icon" class="ti-pie-chart"></span>
            <span data-notify="message">
                This is a notification with close button and icon and have many lines.
                You can see that the icon and the close button are always vertically aligned.
                This is a beautiful notification.
            </span>
        </div>
    </div>
    <div class="footer">
        <br />
        <hr />
    </div>
</div> 