<h5 class="text-center">Sended Orders that have not yet been delivered.</h5>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
            <table class="table table-condensed shortMargin">
                <tbody>
                    <tr> 
                        <td class="shortPadding">
                            <p>Order <b>2233</b>  was sent on <b>20.09.2018</b> to  <b>Office One Super Store</b>.</p>
                        </td>
                        <td class="td-actions text-right">
                            <div class="table-icons">
                                <button class="btn btn-success btn-simple btn-xs" rel="tooltip" title="Export" type="button">
                                    <i class="ti-export"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="shortPadding">
                            <p>Order <b>4567</b>  was sent on <b>17.09.2018</b> to  <b>Concentrix</b>.</p>
                        </td>
                        <td class="td-actions text-right">
                            <div class="table-icons">
                                <button class="btn btn-success btn-simple btn-xs" rel="tooltip" title="Export" type="button">
                                    <i class="ti-export"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="shortPadding">
                            <p>Order <b>1134</b>  was sent on <b>14.09.2018</b> to  <b>Apple Ltd</b>.</p>
                        </td>
                        <td class="td-actions text-right">
                            <div class="table-icons">
                                <button class="btn btn-success btn-simple btn-xs" rel="tooltip" title="Export" type="button">
                                    <i class="ti-export"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>